html{
	font-size: 16px;
}
body{
	margin: 0;
	padding: 0;
}
.el-main{
	margin: 70px 0 150px;
	padding: 20px 0;
}
@media screen and (max-width: 400px){
	html{
		font-size: 10px;
	}
}
@media screen and (min-width: 401px) and (max-width: 639px){
	html{
		font-size: 13px;
	}
}